 /**
 * @author [Cassette]
 * @copyright [2010] 
 * Software on this site is copyright 2010
 * Cassette Pty Ltd.
 * All Rights Reserved. Copying, Editing or
 * Distributing this software is strictly
 * forbidden without permission from
 * Cassette Pty Ltd.
 * for more information please contact
 * Cassette www.cassette.cc 
 */
 
 /* ======= Global ======= */
#main-content {
	-webkit-box-shadow: 0 0 5px #ccc!important;
    box-shadow: 0 0 5px #ccc!important;
	border-radius: 3px;
	width:950px!important;
	margin: 17px auto!important;
}
#main-content-home {
	-webkit-box-shadow: 0 0 5px #ccc!important;
    box-shadow: 0 0 5px #ccc!important;
	border-radius: 2px;
	width:930px!important;
	margin: 17px auto!important;
	padding: 0;
}
#main-content-home-inner {
	-webkit-box-shadow: inset 0 0 5px #ccc!important;
    box-shadow: inset 0 0 5px #ccc!important;
	border-radius: 2px;
	width:100%!important;
	height: 274px;
	
}
#main-content-home-inner img {
	margin: 0 0 0 3%;
	padding-top: 16px;
}
#main-content-home-inner dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-top:30px;
}
dt {
  float: left;
  width: 10%;
  padding: 0;
  margin: 0 0 0 3%;
  font-weight:bold;
  color:#000000;
}
dd {
  float: left;
  width: 87%;
  padding: 0;
  margin: 0;
}
#left.op {
    width: 375px;
}
#right.op {
    width: 507px;
}
#left.contact {
	width: 444px;
	padding-right: 30px;
}
#right.contact {
	width: 408px;
	padding-top: 30px;
}

#menu-wrapper {
	display:block;
}
#menu-wrapper-mobile {
	display:none;
}
.contact-map-desktop {
	display:block;
}
.contact-map-mobile {
	display:none;
}
#map-wrapper.contact-map-desktop{
    position: relative;
    width: 444px;
    height: 314px;

    text-align: center;
}
@media screen and (max-width: 962px) {
html, body {
    font-size: 16px!important;
	line-height: 1.3em;
}
#wrapper {
    width: 100%;
}
#header {
	width: 100%;
}
#menu-wrapper {
    width: 100%;
}
#main-content-home {
	width:95%!important;
	margin: 17px 2.5%!important;
	height: auto;
}
#sub-content {
	width:95%!important;
	margin: 17px 2.5%!important;
	height: auto;
	line-height: 15pt;
	padding-left: 0px;
	background-image: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0 0 5px #ccc!important;
    box-shadow: 0 0 5px #ccc!important;
	border-radius: 2px;
}
#sub-content p {
	padding: 15px 38px;
	text-align: center;
}
#main-content-home-inner {
	width:100%!important;
	height: auto;
	background-position: right top 120px!important;

}
#main-content-home-inner img {
	padding-bottom: 274px;
	transform: scale(0.65, 0.65);
	-ms-transform: scale(0.65, 0.65);
	-webkit-transform: scale(0.65, 0.65);
	transform-origin: 0% 0%;
}
#main-content-home-inner dl {
	padding-bottom:30px;
}
dt {
  float: none;
  width: 94%;
  margin: 0 3%;
  text-align: left;
}
dd {
  float: none;
  width: 94%;
  margin: 0 3%;
  padding: 0 0 15px 0;
  text-align: left;
}
#main-content {
	width:95%!important;
	margin: 17px 2.5%!important;
}
#footer {
	width:95%!important;
	margin: 17px 2.5%!important;
	height: auto;
	overflow: hidden;
}
#left, #right {
   width: 90%;
}
#left{
	padding:30px 30px 0 30px;
}
#left.op {
    width: 90%!important;
}
#right {
	padding:0px 30px 30px 30px;
}
#right.op {
	width: 90%!important;
}
#signature {
    padding: 20px 0px 5px 0px;
}
.download {
	position: relative;
	left: 0px;
    bottom: auto;
	padding: 10px 0;
}
p.intro {
    padding: 0px 0px 0px 0px;
	font-size: 15pt;
	line-height: 1.3em;
}
p.copy {
    font-size: 15pt;
	line-height: 1.3em;
	width: auto!important;
}
p.copy a {
    font-size: 12pt;
	line-height: 1em;
}
p.page-subtitle {
	font-size: 15pt;
	line-height: 1.3em;
}
p.page-title {
	font-size: 22pt;
	line-height: 1.3em;
}

#menu-wrapper {
	display:none;
}
#menu-wrapper-mobile {
	display:block;
	overflow: hidden;
	width:95%;
	margin: 0 2.5%;
}
.contact-map-desktop {
	display:none;
}
.contact-map-mobile {
	display:block;
}
#map-wrapper.contact-map-mobile{
    position: relative;
    width: 300px;
    height: 314px;

    text-align: left!important;
}
#map-wrapper.contact-map-mobile #map{
    position: relative;
    width: 300px;
    height: 314px;
    z-index: 1;
    text-align: left!important;
}
}

