/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
.nav-collapse li:hover {
  color:#fff;
}
.nav-collapse li a {
	color: rgb(0,164,228);
	font-size:20px;
	
	-webkit-transition-property: background-image;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in;
	width: 100%;
	display: block;
    width: 100%;
	display: block;
	height: 34px;
	padding-top:14px;
}
.nav-collapse li a:hover {
	color: rgb(255,255,255);
	font-size:20px;
	
	width: 100%;
	display: block;
}
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
a.nav-toggle {
	display:block;
	text-align:center;
	
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
	padding:17px 0;
}
@media screen and (min-width: 962px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  
}
