/*
Theme Name:     Jupiter Child Theme
Theme URI: 		http://demos.artbees.net/jupiter5
Description:    Child theme for the Jupiter theme 
Author:         Your name here
Theme URI: 		http://themeforest.net/user/artbees
Template:       jupiter
Text Domain: mk_framework
Domain Path: /languages/
*/


.header-toolbar-contact {float:right!important;display:inline-block;}
.mk-header-reseller {
	position:relative;
    float: right;
    display: inline-block;
    margin: 0 10px 0 0;
	height: 35px;
    line-height: 35px;
}
.mk-reseller-link {color:#999999; font-size: 12px;}
.mk-header-reseller .mk-reseller-link svg {margin-right: 4px;vertical-align: middle;}
.welcome {min-height:580px;vertical-align:middle!important;}
.welcome h2 {padding: 20px 100px 20px 100px;margin-top:100px;font-size:40px!important;letter-spacing:2px!important;text-transform:uppercase!important;color:#111111!important;line-height:1em;}
.welcome h3 {padding: 20px 100px 20px 100px;font-size:18px!important;letter-spacing:2px!important;text-transform:uppercase!important;color:#111111!important;line-height:1.5em;}
.welcome .mk-text-block {padding: 20px 100px 20px 100px;}
.icon-box-title {color:#111111!important;font-size:28px!important;line-height:1.2em;margin-top:20px;}
.instant {margin: 0 auto 100px auto!important;text-align:center!important;}
.header-style-1 .menu-hover-style-4 .main-navigation-ul > li.calculator > a {margin-top:15px!important;height:60px!important;background:#ef028c!important;color:#fff!important;line-height:60px!important;font-weight:600!important;border-radius:3px;}
.header-style-1.a-sticky .menu-hover-style-4 .main-navigation-ul > li.calculator > a {margin-top:5px!important;height:40px!important;background:#ef028c!important;color:#fff!important;line-height:40px!important;border-radius:3px;}
.header-style-1 .menu-hover-style-4 .main-navigation-ul > li.calculator > a:hover {background: #292929!important;}
.vc_btn3.vc_btn3-size-lg {font-size:24px!important;}
#fancybox-loading {display:none!important;}
#fancybox-outer { box-shadow: 0 0 0px #111; -moz-box-shadow: 0 0 0px #111; -webkit-box-shadow: 0 0 0px #111;}

p.price {}
.woocommerce div.product .product_meta>span, .woocommerce-page div.product .product_meta>span {}
.addon-input_multiplier {width:60px!important;}
.addon-wrap-800-name-changes-2 label {float: right;width: 90%;}
.addon-wrap-800-name-changes-2 input {float: left;width: 10%;}
.addon-wrap-800-name-changes-2 .addon-alert {display:none!important;}

.footer-wrapper .mk-col-1-4 {text-align:center!important;}
.fullwidth-footer {overflow:hidden;}
.mk-footer-logo {margin:0 auto;text-align:center;width:100%;}
.mk-footer-logo img {width:300px;height:79px;margin:0 auto;text-align:center;}
#mk-footer img.footer-logo {width:300px;height:79px;margin:0 auto;text-align:center;}
span.mk-footer-copyright  {display:block; width:100%;margin:0 auto 80px auto!important;text-align:center;}
#mk-footer-navigation {display:table; margin:0 auto!important;text-align:center;float:none;}
#mk-footer-navigation ul { text-align: center; overflow:hidden;margin:0 auto; }
#mk-footer-navigation ul li { display: inline-block; }
#mk-footer-navigation ul li a {text-transform: uppercase;font-weight:700;color:#404040;}
#mk-footer p.footer-phone {font-size:24px;}
ul#menu-main-menu li:first-of-type {display:none!important;}
#mk-footer h1 {font-size:26px;color:#111111;}
.mk-header-subscribe .button {width:100%;}
.mk-subscribe--form-column.table-cell {display:block!important;}
.mk-subscribe--email {text-align:center;}
.mk-subscribe--button {border-top: none!important;}
.woocommerce table.pricing-table td, .woocommerce table.pricing-table th, .woocommerce-page table.pricing-table td, .woocommerce-page table.pricing-table th {text-align:left!important;}
.mk-fancy-table.table-style1 table.pricing-table td {text-align:left!important;}

.woocommerce div.product {overflow:hidden;width:80%;margin: 0 auto;}
.woocommerce-product-gallery {display:none!important;}
.woocommerce div.product .woocommerce-tabs ul.tabs {display:none!important;}
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {clear:none;}
.woocommerce-tabs.wc-tabs-wrapper {float: right; width: 40%;padding-top:40px;}
.woocommerce-page div.product div.summary {float: left; width: 100%;}
.woocommerce div.product div.summary {float: left; width: 56%;}
.single-product div.product .single_add_to_cart_button {background-color:#ef028c!important;}

body.page-id-786 .woocommerce div.product div.summary {float: none; width: 100%;}
body.page-id-786 .woocommerce-tabs {display:none;}
body.page-id-786 .social-share {display:none;}
body.page-id-786 .product_title.entry-title {display:none;}
.ajaxd-select {float:none;width:100%;margin: 0 auto;}
.master-holder select:not(.gfield_select), .woocommerce select {line-height: 1.5em;;}
#ajaxd-select-896 {text-transform:uppercase;font-size:18px;font-weight: 400;}
#mk-page-id-786 {float:none;width:80%;margin: 0 auto;}
#mk-page-id-786 .woocommerce div.product {width:100%;}
.woocommerce-message {border-top-color: #ef028c;}
.woocommerce-message::before {color: #ef028c;}
.gform_body ::-webkit-input-placeholder {color: #4d4d4d!important;}
.gform_body ::-moz-placeholder { color: #4d4d4d!important;}
.gform_body :-ms-input-placeholder { color: #4d4d4d!important;}
.gform_body :-moz-placeholder { color: #4d4d4d!important;}
.gform_wrapper .top_label .gfield_label {display:none;}
.gf_full input, .gf_full select {width:calc(100%)!important;}
input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], textarea {background-color: #f6f6f6; border-color: #f6f6f6;color: #4d4d4d; margin: 0; transition: all .2s ease 0s; padding: 30px!important; width: 100%; text-align: left; border: 1px solid transparent;}

.address_country {padding-right: 10px!important;}
.address_country select:not(.gfield_select){background-color:#f6f6f6;border: 1px solid transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:14px;line-height:30px;color:#4d4d4d;border-radius:0;font-weight:400;min-width:200px;display:block;height:62px;margin-top:15px!important;text-indent:25px!important;}

.gform_wrapper select, .gform_wrapper textarea {background-color: #f6f6f6; border-color: #f6f6f6; color: #4d4d4d;  height:62px; width: 100%; text-align: left; }
.gform_wrapper select {text-indent:25px!important;}

.ginput_container_address span input, .ginput_container_address span select {margin-top:15px;}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {padding: 20px 28px; transition: all .15s;width:100%;background:#000000;color:#ffffff;border-radius:3px;}
.gform_wrapper .gform_footer {margin-top:0;padding-right:16px;}
.gform_wrapper .button, .gform_button {border:none!important;}
.gform_wrapper li {margin-bottom: 0;}
.gform_wrapper .button, .gform_button {background-color: #46b6df; border-color: #46b6df;}
.gform_wrapper .gform_heading {margin-bottom:0;}
.gform_wrapper {margin-top:0;}
.gform_confirmation_wrapper  {text-align:center;}
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {display:none;}
#mk-page-id-13 {margin: 0 auto;width:80%;}
.master-holder strong {color: #4d4d4d;}


@media (max-width: 767px) {
.mk-edge-custom-content .mk-button {display:block!important;}
#mk-footer-navigation {display:none;}
.woocommerce-tabs.wc-tabs-wrapper {float: none; width: 100%;padding-top:40px;}
.woocommerce-page div.product div.summary {float: none; width: 100%;}
#mk-page-id-786 {width:100%;}
.gform_wrapper .gform_footer {margin-top:0;padding-top:0;padding-right:0px;}

}